*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;

}

body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.Product{
    border: 2px solid black;
    width:200px;
   height: 150px;
    border-radius: 15px;
    margin: 10px;
    padding-bottom: 0;
    /* padding: 0 10px 0  10px; */

}